<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/404.css" type="text/css">
</head>

<body>
    <div class="err-404">
        <h1>404 - This page doesn't seem to exist. :(</h1>
    </div>

    <div class="err-404-container">
        <a href="/" class="btnReturn">Return to Message Board</a>
    </div>


</body>

</html>