<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="details.css" type="text/css">
</head>

<body>
    <div class="title">
        <h1>Message Details</h1>
    </div>

    <div class="details-container">

        <label for="messageUser">User</label>
        <p id="messageUser">name of User</p>
        <label for="messageText">Message</label>
        <p id="messageText">message of user</p>

        <form action="/">
            <button id="btnReturn">Return</button>
        </form>
    </div>


</body>

</html>